<a href="https://colab.research.google.com/github/kahramankaya/Anlas-l-rEkonomiYoutube/blob/main/78.video(Pandas%20Melt%20Fonksiyonu).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#78 (Pandas Melt Fonksiyonu):Pandas melt fonksiyonu, geniş formatlı (wide format) verileri uzun formatlı (long format) verilere dönüştürmek için kullanılan bir fonksiyondur.
#Bu dönüştürme işlemi, verilerin analiz edilmesi, görselleştirilmesi veya başka amaçlarla kullanılması için daha uygun bir yapıya getirir.

In [2]:
import pandas as pd
df_wide = pd.DataFrame({
    'id': [1, 2, 3],
    'name': ['Alice', 'Bob', 'Charlie'],
    'age': [25, 30, 35],
    'salary_2020': [50000, 60000, 70000],
    'salary_2021': [55000, 65000, 75000]
})
print(df_wide)

   id     name  age  salary_2020  salary_2021
0   1    Alice   25        50000        55000
1   2      Bob   30        60000        65000
2   3  Charlie   35        70000        75000

In [7]:
#id_vars demekle bu sutunlar degısmez gerıye kalanlar degısır.
df_long = pd.melt(df_wide, id_vars=['id', 'name', 'age'], value_vars=["salary_2020","salary_2021"])
df_long.columns=['id', 'name', 'age',"yıl","maaş"]
print(df_long)

   id     name  age          yıl   maaş
0   1    Alice   25  salary_2020  50000
1   2      Bob   30  salary_2020  60000
2   3  Charlie   35  salary_2020  70000
3   1    Alice   25  salary_2021  55000
4   2      Bob   30  salary_2021  65000
5   3  Charlie   35  salary_2021  75000